.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  /* max-width: 1450px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Pokedex-winner {
  color: #4caf50;
}

.Pokedex-loser {
  color: #e91e63;
}
